@if (user$ | async; as user) {
  <button mat-icon-button [matMenuTriggerFor]="menu">
    @if (user.picture) {
      <img class="profile-picture" [src]="user.picture" alt="Profile"/>
    } @else {
      <mat-icon>account_circle</mat-icon>
    }
  </button>

  <mat-menu class="accounts-menu" #menu="matMenu">
    <mat-card class="accounts-card">
      <mat-card-header>
        <div mat-card-avatar class="accounts-header-image" [ngStyle]="{'background-image': user.picture ? 'url(' + user.picture +')' : 'url(/ui/assets/img/account_circle.svg)'}">
        </div>
        <mat-card-title>{{ user.name }}</mat-card-title>
        <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-menu-item href="{{user.subject?.iss}}/ui/console/users/me?id=general">
          Profile
        </a>
        <a mat-menu-item href="{{user.subject?.iss}}/oidc/v1/end_session">
          Logout
        </a>
      </mat-card-actions>
    </mat-card>
  </mat-menu>
}
