.profile-picture {
  border-radius: 50%;
}

.accounts-card {
  max-width: 400px;
}

.accounts-header-image {
  background-image: url('/ui/assets/img/account_circle.svg');
  background-size: cover;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0px !important;
}
