<mat-tab-group>
  <mat-tab label="Detail">
    <div class="grid-container">
    @if (platform$ | async; as platform) {
      <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
        @for (section of platform.config?.form?.spec?.sections; track section.name) {
          <h2>{{section.displayName ? section.displayName : section.name }}</h2>
          <p>{{ section.description }}</p>
          <formly-form [form]="form" [fields]="section.fieldConfigs" [model]="model[section.name]"></formly-form>
        }
        <p></p>
        <button type="submit" mat-flat-button color="primary">Submit</button>
      </form>
    }
    </div>
  </mat-tab>

  <mat-tab label="Raw">
    <div class="grid-container">
      @if (platform$ | async; as platform) {
        <pre>{{ platform | json }}</pre>
      }
    </div>
  </mat-tab>
</mat-tab-group>
