<div class="content-container">
  <mat-tab-group>
    <mat-tab label="Detail">
      <div class="grid-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
          <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
          <button type="submit" mat-flat-button color="primary" [disabled]="!form.valid || isLoading">Submit</button>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Model">
      <div class="grid-container">
        <pre>{{ model | json }}</pre>
      </div>
    </mat-tab>
    <mat-tab label="Form State">
      <div class="grid-container">
        <pre>{{ options.formState | json }}</pre>
      </div>
    </mat-tab>
    <mat-tab label="Fields">
      <div class="grid-container">
        <pre>{{ fields | json }}</pre>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
